<main
  class="flex flex-col items-center justify-center overflow-y-auto p-1"
  [attr.inert]="aiOpen() ? '' : null"
>
  <h3 style="font-size: 1.875rem" class="text-3xl font-extrabold">
    This is a Header
  </h3>
  <h5 style="font-size: 1.25rem" class="text-xl font-bold">
    This is a Sub-Header
  </h5>

  <!-- Adding alt text to images for screen readers -->

  <!-- Using semantic HTML elements -->
  <header>
    <nav aria-label="Main Navigation">
      <ul class="flex justify-center gap-2 text-sky-500">
        <li>
          <a href="#home" class="hover:text-sky-700 hover:underline">Home</a>
        </li>
        <li>
          <a href="#about" class="hover:text-sky-700 hover:underline">About</a>
        </li>
        <li>
          <a href="#contact" class="hover:text-sky-700 hover:underline"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <!-- Adding labels to form elements -->
  <form class="my-4 flex flex-col items-center">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="rounded border p-2" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" class="rounded border p-2" />

    <fieldset class="my-2 flex flex-col items-center">
      <legend class="font-bold">What states start with 'W':</legend>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="answer1" name="answer1" />
        <label for="answer1">Washington</label>
      </div>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="answer2" name="answer2" />
        <label for="answer2">Wyoming</label>
      </div>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="answer3" name="answer3" />
        <label for="answer3">California</label>
      </div>
    </fieldset>

    <fieldset class="my-2 flex items-center gap-4">
      <legend class="mb-2 font-bold">What states start with 'W':</legend>
      @for (state of STATE_OPTIONS; track state) {
        <div class="relative flex items-center justify-center gap-1">
          <input
            type="checkbox"
            (change)="updateStates(state)"
            [checked]="selectedStates().includes(state)"
            [id]="state"
            class="peer absolute inset-0 m-0 h-full w-full cursor-pointer appearance-none rounded border border-sky-500 bg-white text-white checked:bg-sky-500 hover:not-checked:bg-sky-200 hover:checked:bg-sky-700 focus:bg-sky-200 focus:outline-none checked:focus:bg-sky-700"
          />
          <label
            [for]="state"
            class="relative m-0 cursor-pointer p-2 text-sky-400 peer-checked:text-white"
            >{{ state }}</label
          >
        </div>
      }
    </fieldset>
    <div class="m-2 rounded border p-6">
      <input
        type="checkbox"
        id="ai-activated"
        [checked]="aiActivated()"
        (change)="aiActivated.set(!aiActivated())"
      />
      <label for="ai-activated" class="visually-hidden">Activate AI</label>

      <div class="flex items-center gap-2">
        AI status:
        <div
          class="h-10 w-10 rounded-full"
          [class]="{
            'bg-green-500': aiActivated(),
            'bg-red-500': !aiActivated(),
          }"
        ></div>
      </div>

      @if (aiActivated()) {
        <div class="my-4 flex flex-col items-center">
          <label for="user-number">Enter the number you are thinking of:</label>
          <input
            type="number"
            id="user-number"
            name="user-number"
            class="rounded border p-2"
            [value]="aiNumber()"
            (input)="setAiNumber($event)"
          />
        </div>
        <button
          (click)="makeGuess()"
          type="button"
          [disabled]="!aiNumber()"
          class="hover:purple-600 mt-2 cursor-pointer rounded border border-purple-500 p-2 text-purple-500 hover:bg-purple-100 focus:bg-purple-200 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-500"
        >
          Guess
        </button>
      }
    </div>

    <button
      (click.prevent)="submit($event)"
      type="submit"
      class="hover:purple-600 mt-2 cursor-pointer rounded bg-purple-500 p-2 text-white focus:bg-purple-600"
    >
      Submit
    </button>
  </form>

  <div class="relative inline-block w-64">
    <div
      class="cursor-pointer rounded border border-gray-300 bg-white p-2"
      (click)="toggleDropdown()"
    >
      {{ selectedOption() || "Select an option" }}
    </div>
    @if (dropdownOpen()) {
      <div
        class="absolute z-10 mt-1 w-full rounded border border-gray-300 bg-white shadow-lg"
      >
        @for (option of dropdownOptions; track option) {
          <div
            class="cursor-pointer p-2 hover:bg-gray-200"
            (click)="selectedOption.set(option)"
          >
            {{ option }}
          </div>
        }
      </div>
    }
  </div>

  <div class="my-4">
    <label for="state-select" class="mb-2 block font-bold"
      >Select an activity:</label
    >
    <select
      id="state-select"
      name="state-select"
      class="block w-full rounded border p-2"
      (change)="updateSelectedOption($event)"
      [value]="selectedOption()"
    >
      <option value="" disabled selected>Select a state</option>
      @for (option of dropdownOptions; track option) {
        <option [value]="option">{{ option }}</option>
      }
    </select>
  </div>
</main>
<footer
  class="flex h-12 w-full items-center justify-start bg-sky-500 p-1 text-white"
>
  <p>&copy; 2026</p>
</footer>

@if (aiOpen()) {
  <div
    class="bg-opacity-50 fixed inset-0 flex items-center justify-center backdrop-blur-md"
  >
    <dialog
      id="dialog"
      class="bg-opacity-50 relative inset-0 flex items-center justify-center rounded"
      [open]="aiOpen()"
      (close)="aiOpen.set(false)"
    >
      <div class="rounded bg-white p-4 shadow-lg">
        <h3 class="text-2xl font-bold">Dialog Box</h3>
        <p>Was this your number: {{ aiNumber() }}</p>
        <button
          autofocus
          (click)="aiOpen.set(false)"
          class="hover:purple-600 mt-2 cursor-pointer rounded bg-purple-500 p-2 text-white focus:bg-purple-600"
        >
          Close
        </button>
      </div>
    </dialog>
  </div>
}
